<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Simple OCR Letters</h1>
<p>Write a web service which can take an uploaded image(jpg, png) and find any letters in it.</p>

<p>The result will be returned to user as JSON :</p>

{"content": [ 'Letter1', 'Letter2'...]}

<p>This result will also be saved to database for future use.</p>

<h3>Requirements:</h3>

<p>Design your own data model and API
Use any Python/Golang frameworks or libraries as needed
Should include tests and documentations.</p>

<h2>Check <a href='/simpleOCR'>here</a> to upload your image</h2>
</body>
</html>